@model Blog.Models.Article
@{
    ViewBag.Title = "Details";
}

<div class="container">
    <article>
        <header>
            <h2>
                @Html.Raw(Model.Title)
            </h2>
        </header>
        <p>
            @Model.Content
        </p>
        <small class="author">
            автор: @Model.Author.FullName
            <div>дата:@Model.Date</div>
        </small>
        <div class="pull-left">
            @if (User.IsInRole("Admin") || Model.IsUserAuthor(User.Identity.Name))
            {
                @Html.ActionLink("Edit", "Edit", "Article", new { @id = Model.Id }, new { @class = "btn btn-success btn-xs" })
                @Html.ActionLink("Delete", "Delete", "Article", new { @id = Model.Id }, new { @class = "btn btn-danger btn-xs" })
            }
           
            @Html.ActionLink("Back", "List", "Article", null, new { @class = "btn btn-default btn-xs" })
        </div>
    </article>
</div>
<hr />

<div>  
    @if (Model.Category.Id == 1)
    {
      @Html.ActionLink("Записване", "Create", "Reserves", null, new { @class = "btn btn-default btn-xs" })
    }
    else
    {
        @Html.ActionLink("Напишете коментар", "Create", "Reserves", null, new { @class = "btn btn-default btn-xs" })
    }
        
</div>
<div>
    @foreach (var reserv in Model.Reserv)
    {
        @reserv.Text;
    }
</div>